{% extends "shopapp/base.html" %}
{% block title %}
    Order list
{% endblock title %}
{% block body %}
    <h1>Orders:</h1>
    {% if orders %}
    <div>
        {% for order in orders %}
            <p><a href={% url "shopapp:order_detail" pk=order.pk %}>Order by {% firstof order.user.first_name order.user.username %} # {{ order.pk }}</a></p>
        {% endfor %}
    </div>
    {% else %}
        <h3>No orders yet</h3>
    {% endif %}
    <a href="{% url "shopapp:create_order" %}"
    >Create</a>
{% endblock body %}